<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
        <link rel="stylesheet" href="https://use.typekit.net/zor4zvq.css"> <!-- adobe fonts -->
        <title>DBK Stylebook</title>
        <link rel="icon" href="{{ url_for('static', filename='DBK-Logo-Box.png') }}" type="image/x-icon">
        <script src="{{ url_for('static', filename='scroll_button.js') }}"></script>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="containter full-nav">
                <div class="row align-items-center">
                <div class="col">
                    <a href="https://dbknews.com/" target="_blank"><img src="{{ url_for('static', filename='DBK-Logo-Box.png') }}"></a>
                    <a class="navbar-brand" href="/open_index">The Diamondback Stylebook</a>
                </div>
                <div class="col">
                    <div class="d-flex justify-content-center">
                    <a class="btn nav-button mx-2" href="#" role="button">IMPORTANT</a>
                    <a class="btn nav-button mx-2" href="/open_ap_dev" role="button">AP DEVIATION</a>
                    <a class="btn nav-button mx-2" href="/open_sports" role="button">SPORTS</a>
                    <a class="btn nav-button mx-2" href="https://dbknews.com/" target="_blank" role="button">Visit The DBK</a>
                    </div>
                    </div>
                    <div class="col">
                        <div class="d-flex justify-content-end">
                    <form action ="/important" method="POST"">
                        <input type="text" id="search_term" name="search_term" required minlength="3" placeholder="Search for a tip">
                        <button type="submit" class="btn btn-outline-light">Submit</button>
                    </form>
                </div>
                </div>
            </div>
            </div>
        </nav>
        <div class="jumbotron">
            <div class="container">
                <button onclick="topFunction()" id="scrollToTopBtn" title="Scroll to Top">Scroll to Top</button>
                {% if document_count == 0 or search_term == None %}
                <div class="row">
                    <h3>Here are entries that are tagged as 'Important.'</h3>
                    <br>
                    <hr>
                </div>
                {% endif %}
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                <ul>
                    {% for category, message in messages %}
                    <li{% if category %} class="{{ category }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                {% endwith %}
                {% if results and document_count > 0 %}
                <h3>'{{ search_term }}' was mentioned in {{ document_count }} entries</h3>
                <hr>
                <div class="row">
                    <ul class="list-unstyled">
                        {% for result in results %}
                        <div class="style-entry">
                            <h4><b>{{ result.name | safe }}</b></h4>
                            <p>{{ result.tags }}</p>
                            <ul>
                                {% set lines = result.description.split('<br>') %}
                                {% for line in lines %}
                                    {% if line.strip() != '' %}
                                        <li>{{ line.strip() | safe }}</li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                        {% if not loop.last %}
                        </ul>
                </div>
                <div class="row">
                    <ul class="list-unstyled">
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                {% elif document_count == 0 %}
                    <p>Your search term produced no results. Try again?</p>
                {% else %}
                {% endif %}
                {% if document_count == 0 or search_term == None %}
                <br>
                <div class="row">
                    <ul class="list-unstyled">
                        {% for tip in all_tips %}
                        {% if 'IMPORTANT' in tip.tags %}
                        <div class="style-entry">
                            <h4><b>{{ tip.name | safe }}</b></h4>
                            <p>{{ tip.tags }}</p>
                            <ul>
                                {% set lines = tip.description.split('<br>') %}
                                {% for line in lines %}
                                    {% if line.strip() != '' %}
                                        <li>{{ line.strip() | safe }}</li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    {% if not loop.last %}
                    </ul>
                </div>
                <div class="row">
                    <ul class="list-unstyled">
                        {% endif %}
                        {% endif %} 
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
                <br><br>
                <hr>
                <div class="row">
                    <div class="col-6">
                        <h4>Dear reader,</h4>
                        <p>The Diamondback’s stylebook is a guidance
                        and reference for specific terms and topics we
                        cover.
                        This stylebook represents how we cover our
                        community, and each term is created with
                        consideration and respect for those we cover.
                        This stylebook is not meant to become an
                        archaic, outdated reference — it is a living and
                        breathing guide that will change and update as
                        we learn, grow and change.
                        If an entry no longer represents or reflects
                        a community or subject, then it is subject to
                        change.
                        Always be open to change and adjustments
                        — be consistent, but not to a fault. Sometimes
                        consistency is a place where accuracy goes to
                        fade.
                        Read this entire stylebook, it is a very fun
                        document.</p>
                    </div>
                    <div class="col-6">
                        <h2>Created by</h2>
                        <ul>
                            <li>Zoe Pierce</li>
                            <li>Anaya M. Truss-Williams</li>
                            <li>Ella Sherman</li>
                            <li>Nataraj Shivaprasad</li>
                            <li>Gabrielle Lewis</li>
                            <li>Devon Milley</li>
                            <li>Izzy Quintana</li>
                            <li>Jessica Umbro</li>
                            <li>Daisy Grant</li>
                            <li>Angela Mecca</li>
                        </ul>
                    </div>
                </div>
            </div> 
        </div>
    </body>